*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container{
    background-color: #607B8F;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    border-radius: 20px;
}
header{
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 30px 0px;
    width: 90%;
    margin-left: 40px;
    margin-top: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
section{
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
section h2{
    margin-bottom: 10px;
}
.skill-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 15px;
}
.skill{
     background: #007bff;
     color: white;
     padding: 10px 8px;
     border-radius: 20px;
     font-size: 20px;
}
.project-card{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    background-color: #F5F2F2;
}
.contact input, .contact textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 20px;
}
.contact textarea{
    resize: none;
    height: 100px;
}
.contact button{
    width: 100%;
    padding: 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.contact button:hover{
    background: #0056b3;
}
footer{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: white;
}
.about{
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}